<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Query Result</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <main>
            <h1>Query Result</h1>
            <p><span class="dog">Number: </span><%= result.number %></p>
            <p><span class="dog">Name: </span><%= result.name %></p>
            <p><span class="dog">Breed: </span><%= result.breed %></p>
            <p><span class="dog">Length: </span><%= result.length %></p>
            <p><span class="dog">Birth: </span><%= result.birth %></p>
            <a href="/"><button>Menu</button></a>
        </main>
    </body>
</html>